:root {
	--white: hsl(0, 0%, 100%);
	--gray-50: hsl(0, 0%, 98%);
	--gray-500: hsl(0, 0%, 41%);
	--gray-950: hsl(0, 0%, 8%);
	--overlay: rgba(0, 0, 0, 0.75);

	--attribution: hsl(228, 45%, 44%);
}

.attribution {
	font-size: 0.6875rem;
	text-align: center;
	align-self: end;
}

.attribution a {
	color: var(--attribution);
	text-decoration: underline;
	text-underline-offset: 3px;
}

.attribution a:hover,
.attribution a:focus {
	text-decoration: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
}

body {
	display: grid;
	justify-items: center;
	grid-template-rows: auto 1fr auto;
	min-height: 100dvh;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	font-family: "Epilogue", sans-serif;
	font-weight: 500;
	background: var(--gray-50);
	color: var(--gray-500);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.1;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
	height: auto;
}

input,
button,
textarea,
select {
	font: inherit;
}

a {
	text-decoration: none;
	color: inherit;
}

ul,
ol {
	list-style: none;
}

button {
	background: none;
	border: none;
	padding: 0;
	margin: 0;
	font: inherit;
	color: inherit;
	cursor: pointer;
}

@media (prefers-reduced-motion: reduce) {
	*,
	*::before,
	*::after {
		transition-duration: 0s !important;
		animation-duration: 0s !important;
		scroll-behavior: auto !important;
	}
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}

/* HEADER */

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.5rem 1rem;
	position: relative;
	font-size: clamp(0.875rem, -0.063rem + 4.688vw, 1rem);
	width: 100%;
}

.header__logo-link {
	width: 6.2rem;
	margin-block-end: -0.5rem;
}

.header__nav {
	position: fixed;
	background-color: var(--gray-50);
	top: 0;
	right: 0;
	height: 100dvh;
	width: clamp(14rem, 2.364rem + 58.182vw, 16rem);
	display: flex;
	flex-direction: column;
	gap: clamp(1.25rem, -1.659rem + 14.545vw, 1.75rem);
	z-index: 2;
	padding: 1.3rem;
}

.header__nav-close {
	align-self: end;
}

.header__overlay {
	position: fixed;
	inset: 0;
	background: var(--overlay);
	opacity: 0;
	visibility: hidden;
	transition:
		opacity 0.2s ease,
		visibility 0.2s ease;
	z-index: 1;
}

.header__overlay--visible {
	opacity: 1;
	visibility: visible;
}

.header__nav--hidden {
	display: none;
}

/* MENU */

.header__menu {
	display: grid;
	gap: clamp(0.75rem, -0.705rem + 7.273vw, 1rem);
}

.header__menu-item:hover {
	color: var(--gray-950);
}

.header__menu-trigger {
	position: relative;
	display: flex;
	gap: 1rem;
}

.header__menu-trigger::after {
	content: "";
	position: absolute;
	top: 0.5rem;
	right: -1.5rem;
	width: 10px;
	height: 6px;
	background: url("../images/icon-arrow-down.svg") no-repeat;
}

.header__menu-trigger.header__menu-trigger--open::after {
	background: url("../images/icon-arrow-up.svg") no-repeat;
}

/* SUB MENU */

.header__submenu {
	display: grid;
	padding: clamp(1.25rem, -0.205rem + 7.273vw, 1.5rem);
	padding-block-end: 0.75rem;
	gap: clamp(0.75rem, -0.705rem + 7.273vw, 1rem);
}

.header__submenu-item {
	display: flex;
	gap: 1rem;
	align-items: center;
}

.header__submenu-icon {
	height: 85%;
}

.header__submenu--hidden {
	display: none;
}

/* AUTH */

.header__auth {
	display: grid;
	gap: 0.25rem;
	justify-items: center;
}

.header__auth-item {
	padding-block: 0.5rem;
	width: 100%;
	display: grid;
	justify-items: center;
}

.header__auth-item:hover {
	color: var(--gray-950);
}

.header__auth-register {
	border: 2px solid var(--gray-500);
	justify-self: center;
	border-radius: 0.875rem;
}

/* HERO */

.hero {
	align-self: center;
	width: 100%;
}

.hero__container {
	display: grid;
	justify-items: center;
}

.hero__image {
	width: 100%;
}

.hero__image-mobile {
	width: 100%;
	max-height: 24rem;
	object-fit: cover;
	object-position: center top;
}

.hero__wrapper {
	display: grid;
	justify-items: center;
	padding: 2.75rem 1.25rem;
	gap: 1.25rem;
}

.hero__title {
	color: var(--gray-950);
	font-size: clamp(1.75rem, -0.432rem + 10.909vw, 2.125rem);
}

.hero__text {
	text-align: center;
	line-height: 1.6;
	font-size: clamp(0.75rem, -0.705rem + 7.273vw, 1rem);
	max-width: 38ch;
}

.hero__button {
	color: var(--gray-50);
	padding: 0.75rem 1.5rem;
	background: var(--gray-950);
	border-radius: 0.875rem;
	font-weight: 700;
	margin-block-start: 0.5rem;
	border: 2px solid var(--gray-950);
	align-self: start;
	font-size: clamp(0.75rem, -0.705rem + 7.273vw, 1rem);
}

.hero__button:hover {
	color: var(--gray-950);
	background: var(--gray-50);
}

.hero__client-list {
	display: flex;
	gap: 1.5rem;
	margin-block-start: 2rem;
}

@media (min-width: 820px) {
	.header__logo-link {
		margin-block-start: clamp(-0.25rem, -0.752rem + 0.98vw, -0.125rem);
	}

	.header__nav--hidden {
		display: flex;
	}

	.header {
		justify-content: flex-start;
		gap: clamp(2rem, -10.059rem + 23.529vw, 5rem);
		font-size: clamp(0.875rem, 0.373rem + 0.98vw, 1rem);
		width: 100%;
		max-width: 1440px;
		margin-inline: auto;
		padding-inline: clamp(1rem, -3.02rem + 7.843vw, 2rem);
	}

	.header__overlay {
		display: none;
	}

	.header__menu-open,
	.header__nav-close {
		display: none;
	}

	.header__nav {
		position: static;
		flex-direction: row;
		justify-content: space-between;
		height: auto;
		align-items: center;
		width: 100%;
		padding: 0;
	}

	.header__menu {
		grid-template-columns: repeat(4, auto);
		gap: clamp(1.75rem, -1.259rem + 5.882vw, 2.5rem);
	}

	.header__menu-item {
		position: relative;
	}

	.header__menu-trigger {
		margin-inline-end: 1.5rem;
	}

	.header__menu-trigger::after {
		top: clamp(0.4rem, -0.001rem + 0.784vw, 0.5rem);
		right: clamp(-1.125rem, -0.498rem + -1.225vw, -1rem);
	}

	.header__auth {
		grid-template-columns: 1fr 1fr;
		gap: clamp(0rem, -4.02rem + 7.843vw, 1rem);
	}

	.header__auth-item {
		align-self: center;
		padding-inline: clamp(1.125rem, 0.121rem + 1.961vw, 1.375rem);
	}

	.header__submenu {
		position: absolute;
		top: clamp(2.25rem, 1.245rem + 1.961vw, 2.5rem);
		background: var(--white);
		padding: 1.5rem;
		border-radius: 0.75rem;
		grid-template-columns: max-content;
		box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
		gap: 0.75rem;
	}

	#features-submenu {
		right: 0.5rem;
	}

	.hero {
		align-self: start;
	}

	.hero__container {
		grid-template-columns: 1fr 1fr;
		padding-inline: 2rem;
		padding-block: 2rem;
		margin-inline: auto;
		gap: clamp(3rem, -7.789rem + 21.053vw, 8rem);
		max-width: 1200px;
	}

	.hero__image {
		order: 1;
		height: 100%;
	}

	.hero__image-mobile {
		max-height: fit-content;
	}

	.hero__wrapper {
		order: 0;
		justify-items: start;
		padding-inline: 0;
		gap: clamp(1.25rem, -1.447rem + 5.263vw, 2.5rem);
	}

	.hero__title {
		font-size: clamp(3rem, -0.776rem + 7.368vw, 4.75rem);
		padding-block-start: clamp(0rem, -10.789rem + 21.053vw, 5rem);
	}

	.hero__title-line {
		display: block;
	}

	.hero__text {
		text-align: start;
		font-size: clamp(1rem, 0.461rem + 1.053vw, 1.25rem);
	}

	.hero__client-list {
		padding-block-start: clamp(0rem, -4.316rem + 8.421vw, 2rem);
	}
}
